<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<% if @posts.any? %>
		<% @posts.each do  | post | %>
			<div class='row' >
				<h1><%= link_to post.title, post_path(post) %></h1>
				<p><%= post.description %></p>
				<p>
				<% if post.user %>
					<b>Author :</b> <%= post.user.name %> , 
				<% end %>
				<b>Published on :</b> 

					<%= post.created_at %></p>
			</div>
		<% end %>
	<%else%>
		<h1>No post found.</h1>
	<%end%>
</div>